* text=auto !eol
/.classpath -text
/.project -text
build/Elliott803[!!-~]build.launch -text
build/bugs.txt -text svneol=unset#text/plain
build/build.xml -text
build/features.txt -text svneol=unset#text/plain
build/license.txt -text
build/readme.txt -text svneol=unset#text/plain
docs/algol.html -text svneol=unset#text/plain
docs/extras.html -text
docs/history.html -text
docs/image/cpuspd.jpg -text
docs/image/creed.jpg -text
docs/image/e803.gif -text
docs/image/elliott803-1.jpg -text
docs/image/lsimg.jpg -text
docs/image/opcon.jpg -text
docs/image/opcore.jpg -text
docs/image/opcpu.jpg -text
docs/image/oppch.jpg -text
docs/image/opplot.jpg -text
docs/image/oprdr.jpg -text
docs/image/opsim.jpg -text
docs/image/optele.jpg -text
docs/image/qs1.jpg -text
docs/image/qs2.jpg -text
docs/image/tmode.jpg -text
docs/image/wordgen1.jpg -text
docs/index.html -text
docs/operation.html -text
docs/prognotes.html -text svneol=unset#text/plain
docs/quickstart.html -text
docs/samples.html -text
docs/telecode.html -text
docs/utilities.html -text
samples/algol/hello.algol -text
samples/algol/plot.algol -text
samples/algol/sort.algol -text
samples/algol/trig.algol -text
samples/assembler/charset.a1 -text
samples/assembler/hello1.a1 -text
samples/assembler/hello2.a1 -text
samples/assembler/print.a1 -text
samples/assembler/random.a1 -text
samples/extra/factorial4.algol -text
samples/extra/pi4.algol -text
samples/machines/algol.803 -text
src/elliott803/Main.java -text
src/elliott803/Run.java -text
src/elliott803/hardware/ALU.java -text
src/elliott803/hardware/CPU.java -text
src/elliott803/hardware/Console.java -text
src/elliott803/hardware/FPU.java -text
src/elliott803/hardware/PaperTapeStation.java -text
src/elliott803/hardware/Plotter.java -text
src/elliott803/hardware/Punch.java -text
src/elliott803/hardware/Reader.java -text
src/elliott803/hardware/Store.java -text
src/elliott803/hardware/TapeDevice.java -text
src/elliott803/hardware/Teletype.java -text
src/elliott803/hardware/device/BlockDevice.java -text
src/elliott803/hardware/device/ControlDevice.java -text
src/elliott803/hardware/device/Device.java -text
src/elliott803/icon/803-32.png -text
src/elliott803/icon/803-48.png -text
src/elliott803/icon/803.ico -text
src/elliott803/machine/Computer.java -text
src/elliott803/machine/DeviceManager.java -text
src/elliott803/machine/Dump.java -text
src/elliott803/machine/Instruction.java -text
src/elliott803/machine/Trace.java -text
src/elliott803/machine/Word.java -text
src/elliott803/machine/extension/RandomNumberDevice.java -text
src/elliott803/machine/extension/SimulatorControlDevice.java -text
src/elliott803/telecode/CharToTelecode.java -text
src/elliott803/telecode/Telecode.java -text
src/elliott803/telecode/TelecodeInputStream.java -text
src/elliott803/telecode/TelecodeOutputStream.java -text
src/elliott803/telecode/TelecodeToChar.java -text
src/elliott803/utils/Args.java -text
src/elliott803/utils/Assembler.java -text
src/elliott803/utils/PrintCore.java -text
src/elliott803/utils/PrintMachine.java -text
src/elliott803/utils/PrintT1.java -text
src/elliott803/utils/PrintTelecode.java -text svneol=unset#text/plain
src/elliott803/utils/PrintTrace.java -text
src/elliott803/utils/TapeCopy.java -text
src/elliott803/utils/TapePrint.java -text
src/elliott803/utils/TapeReverse.java -text
src/elliott803/utils/TapeWrite.java -text
src/elliott803/view/ComputerView.java -text
src/elliott803/view/ConsoleView.java -text
src/elliott803/view/ControlView.java -text
src/elliott803/view/CpuView.java -text
src/elliott803/view/MachineImage.java -text
src/elliott803/view/PlotterView.java -text
src/elliott803/view/PtsView.java -text
src/elliott803/view/PunchView.java -text
src/elliott803/view/ReaderView.java -text
src/elliott803/view/StoreView.java -text
src/elliott803/view/TapeDeviceView.java -text
src/elliott803/view/TeletypeView.java -text
src/elliott803/view/ViewImage.java -text
src/elliott803/view/component/ConsoleButton.java -text
src/elliott803/view/component/ConsoleButtons.java -text
src/elliott803/view/component/ConsoleLight.java -text
src/elliott803/view/component/ConsoleOperation.java -text
src/elliott803/view/component/DeviceLight.java -text
src/elliott803/view/component/DeviceMode.java -text
src/elliott803/view/component/DeviceModeSelect.java -text
src/elliott803/view/component/DisplayAddress.java -text
src/elliott803/view/component/DisplayCore.java -text
src/elliott803/view/component/DisplayInstruction.java -text
src/elliott803/view/component/DisplayLight.java -text
src/elliott803/view/component/DisplayPlot.java -text
src/elliott803/view/component/DisplaySpeed.java -text
src/elliott803/view/component/DisplayWord.java -text
tapes/algol/a104-1.tape -text
tapes/algol/a104-2.tape -text
test/Elliott803[!!-~]Main.launch -text
test/Elliott803[!!-~]Run.launch -text
test/src/elliott803/hardware/TestStore.java -text svneol=unset#text/plain
test/src/elliott803/machine/TestFloatWord.java -text svneol=unset#text/plain
test/src/elliott803/machine/TestInstruction.java -text svneol=unset#text/plain
test/src/elliott803/machine/TestWord.java -text svneol=unset#text/plain
test/src/elliott803/telecode/BaseTelecodeTest.java -text
test/src/elliott803/telecode/TestTelecodeInputStream.java -text
test/src/elliott803/telecode/TestTelecodeOutputStream.java -text
test/src/elliott803/view/BaseViewTest.java -text svneol=unset#text/plain
test/src/elliott803/view/TestConsoleView.java -text svneol=unset#text/plain
test/src/elliott803/view/TestControlView.java -text
test/src/elliott803/view/TestCpuView.java -text svneol=unset#text/plain
test/src/elliott803/view/TestDeviceView.java -text svneol=unset#text/plain
test/src/elliott803/view/TestPlotterView.java -text
test/src/elliott803/view/TestPtsView.java -text svneol=unset#text/plain
test/src/elliott803/view/TestStoreView.java -text svneol=unset#text/plain
test/src/elliott803/view/TestTeletypeView.java -text svneol=unset#text/plain
test/src/elliott803/view/component/BaseComponentTest.java -text svneol=unset#text/plain
test/src/elliott803/view/component/TestDisplayCore.java -text svneol=unset#text/plain
test/src/elliott803/view/component/TestDisplayPlot.java -text
test/src/elliott803/view/component/TestDisplayWord.java -text svneol=unset#text/plain
