* text=auto !eol
build/Elliott803[!!-~]build.launch -text
build/bugs.txt -text svneol=unset#text/plain
build/build.xml -text
build/features.txt -text svneol=unset#text/plain
build/license.txt -text
build/readme.txt -text svneol=unset#text/plain
docs/algol.html -text svneol=unset#text/plain
docs/extras.html -text
docs/history.html -text
docs/image/creed.jpg -text
docs/image/e803.gif -text
docs/image/elliott803-1.jpg -text
docs/image/lsimg.jpg -text
docs/image/opcon.jpg -text
docs/image/opcore.jpg -text
docs/image/opcpu.jpg -text
docs/image/oppch.jpg -text
docs/image/opplot.jpg -text
docs/image/oppts.jpg -text
docs/image/oprdr.jpg -text
docs/image/optele.jpg -text
docs/image/qs1.jpg -text
docs/image/qs2.jpg -text
docs/image/tmode.jpg -text
docs/image/wordgen1.jpg -text
docs/index.html -text
docs/operation.html -text
docs/prognotes.html -text svneol=unset#text/plain
docs/quickstart.html -text
docs/samples.html -text
docs/telecode.html -text
docs/utilities.html -text
samples/algol/hello.algol -text
samples/algol/plot.algol -text
samples/algol/sort.algol -text
samples/algol/trig.algol -text
samples/assembler/charset.a1 -text
samples/assembler/hello1.a1 -text
samples/assembler/hello2.a1 -text
samples/assembler/print.a1 -text
samples/assembler/random.a1 -text
samples/extra/factorial4.algol -text
samples/extra/pi4.algol -text
samples/machines/algol.803 -text
